.search__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  gap: 0.8rem;
}

.input__container {
  display: flex;
  width: 100%;
}

.search__img {
  width: 20px;
  height: 20px;
}

.search__title {
  color: #ffffff;
  font-size: 3rem;
  text-transform: capitalize;
  opacity: 30%;
  text-align: center;
}

.search__title::before {
  content: "";
  animation: typing 10s linear alternate infinite;
}

.search__title:after {
  content: "|";
  animation: blink infinite alternate .4s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    content: ""
  }

  20% {
    content: ""
  }

  21% {
    content: "s"
  }

  22% {
    content: "se"
  }

  23% {
    content: "sea"
  }

  24% {
    content: "sear"
  }

  25% {
    content: "searc"
  }

  26% {
    content: "search"
  }

  27% {
    content: "search "
  }

  28% {
    content: "search f"
  }

  29% {
    content: "search fo"
  }

  30% {
    content: "search for"
  }

  31% {
    content: "search for "
  }

  32% {
    content: "search for a"
  }

  33% {
    content: "search for an"
  }

  34% {
    content: "search for any"
  }

  35% {
    content: "search for any "
  }

  36% {
    content: "search for any p"
  }

  37% {
    content: "search for any pe"
  }

  38% {
    content: "search for any pet"
  }

  39% {
    content: "search for any pet "
  }

  40% {
    content: 'search for any pet a'
  }

  41% {
    content: "search for any pet an"
  }

  42% {
    content: "search for any pet and"
  }

  43% {
    content: "search for any pet and "
  }

  44% {
    content: "search for any pet and m"
  }

  45% {
    content: "search for any pet and mo"
  }

  46% {
    content: "search for any pet and mon"
  }

  47% {
    content: "search for any pet and moni"
  }

  48% {
    content: "search for any pet and monit"
  }

  49% {
    content: "search for any pet and monito"
  }

  50% {
    content: "search for any pet and monitor"
  }

  51% {
    content: "search for any pet and monitor "
  }

  52% {
    content: "search for any pet and monitor t"
  }

  53% {
    content: "search for any pet and monitor th"
  }

  54% {
    content: "search for any pet and monitor the"
  }

  55% {
    content: "search for any pet and monitor thei"
  }

  56% {
    content: "search for any pet and monitor their"
  }

  57% {
    content: "search for any pet and monitor their "
  }

  58% {
    content: "search for any pet and monitor their r"
  }

  59% {
    content: "search for any pet and monitor their ra"
  }

  60% {
    content: "search for any pet and monitor their rap"
  }

  61% {
    content: "search for any pet and monitor their rap!"
  }

  100% {
    content: "search for any pet and monitor their rap!"
  }
}

.search__btn {
  flex: 1.5;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: transform 0.2s, background-color 0.3s;
}

.search__btn:hover {
  transform: scale(0.9);
  background-color: rgb(0, 100, 0);
}

.search__input::placeholder {
  opacity: 50%;
  color: #b4b3b3;
}

.search__input {
  flex: 5;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: #b4b3b3;
  border: none;
  border-radius: 10px;
  transition: filter 0.2s;
  background-color: rgb(43, 42, 42);
}

.search__input:focus {
  outline: none;
  filter: drop-shadow(0 0 0.2rem #888888c5);
}

.pets__container {
  width: 100%;
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.pet__container {
  padding: 0.8rem 1.2rem;
  border-radius: 15px;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #44159b;
  height: 20rem;
  transition: filter 0.15s;
}

.pet__container:hover {
  filter: drop-shadow(0 0 0.7rem #935afc);
  cursor: pointer;
}

.pet__info-wrapper {
  width: 100%;
  height: 100%;
  max-height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.pet__info-container {
  background-color: #141414;
  width: 100%;
  max-width: 20rem;
  border-radius: 20px;
  display: flex;
  height: 100%;
  max-height: 2.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.pet__rap-text {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.pet__rap-text-cont {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  user-select: none;
}

.live__container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.live__text {
  color: #f00;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.pet__name {
  gap: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  max-height: 1.8rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
}

.pet__rap {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.loading__text {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.signal__img {
  width: 20px;
  height: 20px;
}

.pet__img-container {
  max-width: 100px;
  max-height: 100px;
  position: relative;
}

.pet__img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.pet__exists-text {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
}

.pet__exists-value {
  color: #fff;
  font-weight: 500;
}

.rarity__container {
  background: #141414;
  padding: 0.1rem 1.5rem;
  text-transform: uppercase;
  border-radius: 8px;
}

.pet__rarity {
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
}

.normal__rarity {
  color: #e4e4e4;
}

.golden__rarity {
  background: linear-gradient(270deg, rgb(187, 131, 27), rgb(223, 191, 9));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow__rarity {
  background: linear-gradient(270deg, #f84646 29.3%, #f9e26a 41.09%, #257ee8 51.25%, #5bed58 61.65%, #ce42ff 73.67%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow__img {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  opacity: 40%;
}

.filter__buttons-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 0.7rem;
  flex-wrap: wrap;
}

.filter__choice-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.filter__input {
  width: 25px;
  height: 25px;
}

.filter__input:hover {
  opacity: 80%;
}

.filter__input,
.filter__label {
  cursor: pointer;
}

.filter__label {
  color: #fff;
}

@media (max-width: 320px) {
  .pet__name {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .search__title-container {
    display: flex;
    align-items: end;
    min-height: 6rem;
  }

  .search__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 640px) {
  .search__title-container {
    min-height: 6rem;
  }

  .search__title {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .search__title-container {
    min-height: 8rem;
  }
}

@media (max-width: 280px) {
  .search__title-container {
    min-height: 11rem;
  }
}